.ladding1 {
    font-family: $f-default;

    .container{
        padding: 75px 100px;

        .icon {
            margin: 1% 48% 1% 48%;
        }

        .title {
            font-size: 27px;
            font-weight: bold;
            text-align: center;
        }

        p {
            font-size: 16px;
            line-height: 1.5;
            padding: 20px 125px;
            text-align: center;
        }
    }
}

@media screen and (max-width: 575.98px) { 

    .ladding1 {
        font-family: $f-default;
    
        .container{
            padding: 75px 45px;
    
            .icon {
                margin: 1% 45% 1% 43%;
            }
    
            .title {
                font-size: 27px;
                font-weight: bold;
                text-align: center;
            }
    
            p {
                font-size: 16px;
                line-height: 1.5;
                padding: 0 !important;
                text-align: center;
            }
        }
    }
}

@media screen and (max-width: 767.98px) { 

    .ladding1 {
        font-family: $f-default;
    
        .container{
            padding: 75px 45px;
    
            .icon {
                margin: 1% 45% 1% 43%;
            }
    
            .title {
                font-size: 27px;
                font-weight: bold;
                text-align: center;
            }
    
            p {
                font-size: 16px;
                line-height: 1.5;
                padding: 0 !important;
                text-align: center;
            }
        }
    }
}
