
$f-default: "Source Sans Pro", sans-serif;

// color
$w:             #ffffff;
$primary:       blue;
$b:           #0d1325;
$c-r:           #E04E55;
$c-content:     #b3b4b8; 
$c-ef:          #efefef;
$title:         #E8E8E8;

$c-ts :         #d5d5d7;